.player {
    position: relative;
    margin: 0 auto;
}

.controls {
    display: table;
}

.playButton {
    display: table-cell;
    vertical-align: top;
    padding: 14px 10px 0 0;
}

.progress {
    display: table-cell;
    width: 100%;
}

.fullscreenButton {
    display: table-cell;
    vertical-align: top;
    padding: 14px 0 0 10px;
}